/**
our own css

*/


.btn-margin-right{
    margin-right:20px;
}
.btn{
    border-radius:0px;
}
.jumbotron{
    margin-left:-20px;
    margin-right:-20px;
    margin-top:-20px;
}
.featured_image{
    width:30%;
    height:50%;
    margin-left:455px;
}

